<%= link_to  cart_path, class: "nav-link rounded-pill btn btn-outline-success" do %>
  <i class="ri-shopping-cart-line"></i>
  <span class="badge bg-secondary"><%= current_order.number_of_items %></span>
  <span class="visually-hidden">Items in cart</span>
<% end %>