
<div class="container" id="cart-list">                
  <div class="contentbar">  
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header">
            <h5 class="card-title">Cart</h5>
          </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                  <div class="cart-container">
                    <div class="cart-head">
                      <div class="table-responsive">
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Product</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col" class="text-right">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%= render @line_items %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="cart-body">
                      <div class="row">
                        <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                          <div class="order-total table-responsive ">
                            <table class="table table-borderless text-right">
                              <tbody>
                                <tr>
                                  <td class="f-w-7 font-18"><h4>Amount :</h4></td>
                                  <td class="f-w-7 font-18"><h4>€ <%= current_order.subtotal %></h4></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-footer text-right">
                      <%= link_to edit_checkout_path, class: "btn btn-success my-1" do %>
                        Proceed to Checkout<i class="ri-arrow-right-line ml-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>
