<div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag image_path("pizza"), class: "d-block w-100", alt: "Pizza"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Pizza</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag image_path("burger"), class: "d-block w-100", alt: "Burger"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Burger</h5>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag image_path("salad"), class: "d-block w-100", alt: "Salad"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Salad</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="card home-card">
  <div class="card-header">
    Welcome to Tobi's Foods
  </div>
  <div class="card-body">
    <h5 class="card-title">The best Pizza, Burgers and Salads</h5>
    <p class="card-text">Delivered to your doorstep.</p>
    <%= link_to "See the menu", menu_path, class: "btn btn-success" %>
  </div>
</div>