#cart {
  padding: 0;
  margin: 0;
}

.cart-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.cart-container .cart-body {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
 
}