.category {
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.card {
  .card-body {
    .list-group {
      .description {
        height: 125px;
      }
    }
  }
}