<ul class="link-list">
  <li>
    <%= link_to 'Home', 
      root_path, 
      class: "link #{ @page == 'home' ? 'active' : '' }" 
    %>
  </li>
  <li>
    <%= link_to 'Menu', 
      menu_path, 
      class: "link #{ @page == 'menu' ? 'active' : '' }" 
    %>
  </li>
  <li>
    <%= link_to 'More Info', 
      info_path, 
      class: "link #{ @page == 'info' ? 'active' : '' }" 
    %>
  </li>
</ul>