<nav class="nav flex-column link-list">

  <%= link_to 'Home', 
    root_path, 
    class: "nav-link #{ @page == 'home' ? 'active' : '' }" 
  %>

  <%= link_to 'Menu', 
    menu_path, 
    class: "nav-link #{ @page == 'menu' ? 'active' : '' }" 
  %>

  <%= link_to 'More Info', 
    info_path, 
    class: "nav-link #{ @page == 'info' ? 'active' : '' }" 
  %>

  <div id="cart" class="nav-link">
    <%= render 'cart/cart_link' %>
  </div>
  
</nav>